.search-results-container .lead {
    margin-top: 60px;
}

.search-results-container .search-title {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

// for book details view page - DetailsPage.js
.collapse.show .details {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    a.close-details-view {
        position: absolute;
        right: 0;
        padding: 10px 0;
        color: #111;
        font-weight: 900;
        z-index: 999;
        top: 0;
    }    
    .detailsVIew {
        padding: 30px;
    }    
    .title{
        font-family: "Merriweather", "Georgia", serif;
    }
    .dv-star-rating {
        display: inline !important;
        float: left;
        padding-right: 8px;
        label{
            margin-top: -7px;
        }
        label i {
            color: #e05d0f;
            font-size: 22px;
        }        
    }    
    .more ul{
        list-style: none;
        padding: 0;
        li {
            float: left;
            margin-right: 20px;
            width: auto;
            font-size: 14px;
            .ratings-tooltip{
                color:#00635d;
                text-decoration: none;
            }
        }    
    
    } 
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.row.books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:60px;
    .book-container {
        @media only screen and (max-width: 768px) {
            width:50%;
            padding:0 10px;
        }
        width: 22%;
        margin-bottom: 20px;
        .card {background: #eee;
            .card-body {
                text-align: center !important;
            }
            img {
                width: 100%;
                height: 200px;
                object-fit: contain;
            }
            
            
        }
        
    }
    
}



