.App {
  text-align: center;
  .App-header {
    background-color: #282c34;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 40px;
    padding: 10px 0;
    p{
      margin:0;
      padding: 10 0;
    }
  
  }
  
  
}

